{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header align-items:center">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(16, 247, 235);">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">To Do Lists</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="register">Register</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Logout">Logout</a>
                      </li>
                      <li class="nav-item">

                        <a class="nav-link active" href="CreateTask">CreateTask</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="ViewTask">ViewTask</a>
                      </li>
                     
                    </ul>
                 
                  </div>
                </div>
              </nav>
        </div>

        <div class="LoginWindow mt-5">
    <form method="POST">
        {% if errmsg %}
        <div class="alert alert-danger">
            {{errmsg}}
        </div>
        {% endif %}

        {% if msg %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {% endif %}

        {% csrf_token %}
        <div class="loginForm col-md-6 mx-auto p-5">
            <p class="uname">Username: <span><input class="form-control" type="text" name="uname"></span></p>
            <p class="upass">Password:<span><input class="form-control" type="text" name="upass"></span></p>
            <button class="btn btn-outline-info mx-auto" type="submit">Submit</button>
        </div>
       
    </form>

</div>
</div>
</body>
</html>