body{
    background-color: rgb(41, 216, 216);
}

.loginForm{
    background-color: rgb(35, 126, 133);
    border: 2px;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    
    
}

.heading{
    position:relative;
    height: 20px;
    background-color: rgb(231, 112, 32);
    text-align: center;
    
}